<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".lovemyself.NotificationApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HiD"
        tools:targetApi="31">
        <activity
            android:name=".LineAdapter"
            android:exported="false" />
        <activity
            android:name=".DrawAdapter"
            android:exported="false" />
        <activity
            android:name=".ShapeAdapter"
            android:exported="false" />
        <activity
            android:name=".LipAdapter"
            android:exported="false" />
        <activity
            android:name=".NoseAdapter"
            android:exported="false" />
        <activity
            android:name=".EyeColorAcdapter"
            android:exported="false" />
        <activity
            android:name=".created.adapter.EyesAdapter"
            android:exported="false" />
        <activity
            android:name=".created.fragment.ImageFragment"
            android:exported="false" />
        <activity
            android:name=".created.adapter.FrameAdapter"
            android:exported="false" />
        <activity
            android:name=".activities.UserDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NavigationActivity"
            android:exported="false" />
        <activity
            android:name=".dforum.UploadDForumActivity"
            android:exported="false" />
        <activity
            android:name=".dforum.ShareForumActivity"
            android:exported="false" />
        <activity
            android:name=".contactpeople.ContactPeopleActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LogInOutActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".created.CreateMyDActivity"
            android:exported="false" />
        <activity
            android:name=".lovemyself.DoNotBlameActivity"
            android:exported="false" />
        <activity
            android:name=".boxbreath.BoxBreathingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false">

            <!-- android:exported="true" -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->


            <!-- <activity -->
            <!-- android:name=".activities.ContactPeopleActivity" -->
            <!-- android:exported="false" -->
            <!-- android:theme="@style/CommunicateTheme" /> -->
        </activity>

        <receiver
            android:name=".lovemyself.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>


    </application>

</manifest>